@charset "UTF-8";


:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #7464a1;
    --bs-pink: #d63384;
    --bs-red: #a16468;
    --bs-orange: #fd7e14;
    --bs-yellow: #e4c662;
    --bs-green: #67c29c;
    --bs-teal: #64a19d;
    --bs-cyan: #1cabc4;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #64a19d;
    --bs-secondary: #7464a1;
    --bs-success: #67c29c;
    --bs-info: #1cabc4;
    --bs-warning: #e4c662;
    --bs-danger: #a16468;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-primary-rgb: 100, 161, 157;
    --bs-secondary-rgb: 116, 100, 161;
    --bs-success-rgb: 103, 194, 156;
    --bs-info-rgb: 28, 171, 196;
    --bs-warning-rgb: 228, 198, 98;
    --bs-danger-rgb: 161, 100, 104;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-black-rgb: 0, 0, 0;
    --bs-white-rgb: 255, 255, 255;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #64a19d;
    --bs-link-hover-color: #50817e;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #faf4e0;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}


section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(to bottom, #183865, #557c93); */
    background: #0D203B;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    background-position: center;
}

section .color{
    position: absolute;
    filter: blur(150px);
}

section .color:nth-child(1) {
    top: -350px;
    width: 600px;
    height: 600px;
    background: #0D203B;
}

section .color:nth-child(2) {
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #006db6;
}

section .color:nth-child(3) {
    bottom: -150px;
    right: 100px;
    width: 400px;
    height: 400px;
    background: #0095a6;
}


.box {
    position: relative;
}

.box .square{
    position: absolute;
    background: rgba(255, 255, 255, 0);
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate{
    0%, 100%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(40px);
    }
}

.box .square:nth-child(1){
    top: -50px;
    right: -60px;
    width: 180px;
    height: 100px;
}

.box .square:nth-child(2){
    top: 150px;
    left: -100px;
    width: 140px;
    height: 120px;
    z-index: 2;
}

.box .square:nth-child(3){
    bottom: 50px;
    right: -60px;
    width: 100px;
    height: 80px;
    z-index: 2;
}

.box .square:nth-child(4){
    bottom: -50px;
    left: 100px;
    width: 60px;
    height: 50px;
}

.box .square:nth-child(5){
    top: -80px;
    left: 140px;
    width: 80px;
    height: 60px;
}

.containerd{
    position: relative;
    /* flex-direction: column; */
    padding-left: 3%;
    min-height: 500px;
    background: hwb(0 100% 0% / 0.04);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

h1{
    position: relative;
    font-size: 90px;
    color: #ffffff;
}

h2{
    position: relative;
    font-size: 50px;
    color: #ffffff;
}

p{
    position: relative;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

section .animate {
    opacity: 0;
    transition: 1s;
    filter: blur(5px);
}

section.show-animate .animate {
    opacity: 1;
    filter: blur(0px);
}


.hero .animate{
    transform: translateX(-100%);
}

.hero.show-animate .animate{
    transform: translateX(0);
}

.about .animate{
    transform: translateX(100%);
}

.about.show-animate .animate{
    transform: translateX(0);
}

.features .animate{
    transform: scale(0.7);
}

.features.show-animate .animate{
    transform: scale(1);
}

.about p{
    color: rgb(255, 255, 255);
    text-align: left;
}

.features p{
    color: rgb(255, 255, 255);
    text-align: centre;
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #006db6;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line {
    height: 2px;
    background-color: #006db6;
    flex: 1;
}
.process {
    margin-top: 10px;
}
.bend-line {
    position: relative;
    width: 60px;
    height: 30px;
}
.bend-line svg {
    position: absolute;
    top: 0;
    left: 0;
}

.team p{
    color: beige;
}

.team .showRight-animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #0D203B;
    transition: 1s;
    transition-delay: calc(.2s * var(--i));
}

.team.show-animate .showRight-animate{
    width: 0;
}

.corosal .images img{
    max-width: 400px;
    margin: 0 30px;
    transform: translateX(-100%);
    transition-delay: calc(.2s * var(--i));
}

.corosal.show-animate .images img{
    transform: translateX(0);
}

.contact-section {
    padding-top: 5rem;
  }
  .contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #EBDAB5;
  }
  .contact-section .card h4, .contact-section .card .h4 {
    font-size: 0.8rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  .contact-section .card hr {
    opacity: 1;
    border-color: #EBDAB5;
    border-width: 0.25rem;
    width: 3rem;
  }
  .contact-section .social {
    margin-top: 5rem;
  }
  .contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
  }
  .contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  .contact-section .social a:active {
    color: #fff;
  }
  
  .footer {
    padding: 5rem 0;
  }

